.about{

    &__img{
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 13px;
    }

    &__title{
        margin-bottom: 9px;
    }
    &__bio{
        p {
            margin-bottom: 16px;
        }
        margin-bottom: 3rem;
    }

    @media #{$media-tablet-small}{

        &__img {
            // margin-top: .5rem;
            margin-bottom: 2rem;
        }

        &__bio{
            margin-bottom: 0;
        }

        &__container{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 4rem;
        }
        &__body, &__links{}

        &__body{
            flex: 50%;
            max-width: 50%;
        }
        &__links{
            padding-left: 1rem;
            flex: 1;
        }
    }

    @media #{$media-tablet}{
        &__img{
            max-width: $container-size;
            margin: 0 auto 2.8rem;
            transform: translateY(1px);
        }
        &__container{
            // margin-bottom: map-get($section-spacer, small );
        }
    }

    @media #{$media-desktop-small}{
        &__container{
            // margin-bottom: map-get($section-spacer, medium );
        }
    }

    @media #{$media-desktop-small}{
        // margin-bottom: map-get($section-spacer, large );
    }
}