{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
},
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": 0,
    "template-curly-spacing": "warn",
    "no-template-curly-in-string": "error",
    "quotes": ["error", "single", {"allowTemplateLiterals": true}],
    "quote-props": "off",
    "arrow-parens": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-danger": "off",
    "react/state-in-constructor": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["src", "./src"]
      ]
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
