---
layout: default
title: About
order: 1
---
<h1 class="page-title">{{page.title}}</h1>
<picture class="about__img">
    <img
        sizes="(max-width: 1800px) 100vw, 1800px"
        srcset="assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_160.jpg 160w,
            assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_812.jpg 812w, assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_1209.jpg 1209w, assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_1511.jpg 1511w,
            assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_1755.jpg 1755w,
            assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_1800.jpg 1800w"
        src="assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_1800.jpg"
        alt="Adam Rasheed"
        class="about__img">
</picture>

<div class="container about__container">
    <div class="about__body">
        <h2 class="about__title">{{ site.tagline }}</h2>
        <div class="about__bio">
            <p>
                <a href="https://www.linkedin.com/in/justcallmealyson/" target="_blank" rel="noopener">Alyson Ben-Yehuda</a> is working on my copy. Until then, here are some words in Latin. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Morbi leo risus,
                porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                eget lacinia odio sem nec elit.
            </p>
            <p>
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Morbi leo risus,
                porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                eget lacinia odio sem nec elit.
            </p>
        </div>
    
    </div>

    <div class="about__links">
        <div class="link-category">
            <h4 class="preview-title preview-title--small link-category__title">Talks</h4>
            {% for link in site.data.about.Talks %}
            <div class="about-link">
                <h5 class="about-link__title">
                    <a href="{{ link.url }}" class="about-link__url" target="_blank" rel="noopener">{{ link.title }}</a>
                </h5>
                <p class="about-link__desc">{{link.desc}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="link-category">
            <h4 class="preview-title preview-title--small link-category__title">Education</h4>
            {% for link in site.data.about.Education %}
            <div class="about-link">
                <h5 class="about-link__title">
                    <a href="{{ link.url }}" class="about-link__url" target="_blank" rel="noopener">{{ link.title }}</a>
                </h5>
                <p class="about-link__desc">{{link.desc}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include modules/blog-preview.html %}
{% include modules/contact.html %}