---
layout: default
title: About
---
<h1 class="page-title">{{page.title}}</h1>
<picture class="about__img">
    <img
        data-sizes="auto"
        src="/assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_1800.jpg"
        data-src="/assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_1800.jpg"
        data-srcset="assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_160.jpg 160w,
            /assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_812.jpg 812w, /assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_1209.jpg 1209w, /assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_1511.jpg 1511w,
            /assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_1755.jpg 1755w,
            /assets/Adam-Rasheed-Pano-web_2x_ivteyj_c_scale,w_1800.jpg 1800w"
        data-size="auto"
        alt="Adam Rasheed"
        class="lazyload blur-up about__img">
</picture>

<div class="container about__container">
    <div class="about__body">
        <h2 class="about__title">{{ site.tagline }}</h2>
        <div class="about__bio">
            <p>Adam Rasheed is a San-Diego based front-end developer who creates well-designed websites and e-commerce stores. A data nerd at
             heart, Adam majored in Economics at Cal State San Bernardino, and has used his data-analysis powers mainly for good. Like
             many of his generation, he was drawn to coding and design originally as an angsty teen trying to make his MySpace page look
             cool–but not too cool.</p>
            
            <p>Since those days he has been pretty busy both in-house and as a freelancer, and with his YouTube
            channel where he teaches people how to use Sketch. He has a variety of experience such as creating custom Wordpress themes,
            UI design, and speaks fluent HTML, CSS, Javascript, PHP, and Liquid. (note from editor: one could also add sarcasm to that
            list)</p>
            
            <p>Adam’s loves to tackle a challenge head-on by analyzing it and coming up with a plan to solve the needs of his clients
            that makes sense for their big-picture goals. Most recently, he's working as a Lead Shopify Developer at Blenders Eyewear
            in sunny San Diego. He’s also taking on select freelance projects. Does your product team need a hand bringing your designs
            to life? Learn how he can help <a href="{{site.url}}/freelance">here</a>.</p>

            <p class="small about-credit">Words by <a href="https://www.linkedin.com/in/justcallmealyson/" target="_blank" rel="noopener">Alyson Ben-Yehuda</a></p>
        </div>
    
    </div>

    <div class="about__links">
        <div class="link-category">
            <h4 class="preview-title preview-title--small link-category__title">Talks</h4>
            {% for link in site.data.about.Talks %}
            <div class="about-link">
                <h5 class="about-link__title">
                    <a href="{{ link.url }}" class="about-link__url" target="_blank" rel="noopener">{{ link.title }}</a>
                </h5>
                <p class="about-link__desc">{{link.desc}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="link-category">
            <h4 class="preview-title preview-title--small link-category__title">Education</h4>
            {% for link in site.data.about.Education %}
            <div class="about-link">
                <h5 class="about-link__title">
                    <a href="{{ link.url }}" class="about-link__url" target="_blank" rel="noopener">{{ link.title }}</a>
                </h5>
                <p class="about-link__desc">{{link.desc}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include modules/blog-preview.html %}
{% include modules/contact.html %}