---
layout: default
title: Blog
order: 3
---
{% include breadcrumbs.html %}
<h1 class="page-title">{{page.title}}</h1>
<div class="container container--no-pad">
    <ul class="posts">
        {% for post in site.posts %}
        <div class="post">
            <h2 class="post__title">
                <a class="post__link" href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            <div class="post__meta">
                <span class="post__date">{{ post.date | date: '%B %e, %Y' }}</span>
            </div>
            <div class="paragraph post__excerpt">
                {{ post.excerpt | strip_html |truncatewords: 45 }}
            </div>
        </div>
        {% endfor %}
    </ul>
</div>