---
layout: default
title: Adam Rasheed
---

{% include modules/hero.html %}
<section class="section-case-studies">
    <div class="container">
        <div class="preview-header">
            <h4 class="preview-title">Case Studies</h4>
            <a href="/case-studies.html" class="preview-more">
                More Case Studies
            </a>
        </div>
        {% include modules/case-studies.html %}
    </div>
</section>
{% include modules/blog-preview.html %}
{% include modules/contact.html %}