@import '../00-global/vars';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-body;

  color: $color-text;
  padding: 0;
  margin: 0;
  display: flex;

  min-height: 100vh;
  flex-direction: column;

  position: relative;
}

header,
footer {
  flex: none;
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font: $font-family-heading;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}
