@import '../00-global/reset';
@import '../00-global/vars';
@import '../00-global/utils';

body {
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font: $font-family-heading;
}

.mega {
  font-size: 3rem;
  line-height: 3.25rem;

  @media #{$media-desktop-small} {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}

h1 {
  font: -apple-system-headline;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font: $font-family-subheading;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font: $font-family-subheading;
}

p {
  font-size: $font-size-body;
  line-height: $line-height-paragraph;
}

p > a,
p > span > a,
.post > a {
  color: $color-text;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.paragraph {
  font-size: $font-size-body;
  line-height: $line-height-paragraph;
}

.case-study,
.post {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.25rem;
  }

  h3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 0.125rem;
  }
  p + h2,
  p + h3,
  p + h4,
  ul + h2,
  ul + h3,
  ul + h4,
  code + h2,
  code + h3,
  code + h4 {
    margin-top: 1.625rem;
  }

  p + h4 {
    margin-top: 1.325rem;
  }

  p {
    margin-bottom: 1rem;
  }

  h1 + code,
  h2 + code,
  h3 + code,
  h4 + code,
  h1 + .highlighter-rouge,
  h2 + .highlighter-rouge,
  h3 + .highlighter-rouge,
  h4 + .highlighter-rouge {
    margin-top: 1rem;
  }

  h4 + ul {
    margin-top: 0.5rem;
  }

  .highlighter-rouge + h1,
  .highlighter-rouge + h2,
  .highlighter-rouge + h3,
  .highlighter-rouge + h4 {
    margin-top: 1.5rem;
  }

  ul {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  p + ul {
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
  }

  ul > li {
    margin-bottom: 1rem;
    font-size: $font-size-small;
    position: relative;
    margin: 1.5rem 0 1.5rem;

    &:before {
      position: absolute;
      content: '—';
      display: block;
      padding: 0;
      top: -2px;
      left: -1.5rem;
    }
  }

  hr {
    display: block;
    max-width: 4rem;
    height: 1px;
    background: $color-text;
    margin: 2rem auto;
  }

  p + hr {
    margin: 2rem auto 2rem;
  }

  &--freelance {
    ul > li {
      line-height: 1.25rem;
      margin: 1rem 0;
      &:last-of-type {
        margin: 1rem 0 2rem;
      }
    }
  }

  @media #{$media-tablet} {
    h2 {
      line-height: 1.75rem;
      margin-bottom: 0.25rem;
    }
  }
}

.highlighter-rouge {
  padding: 0.15rem 0.25rem;
  // overflow: scroll;
  background: $color-bg-extra-light;
  margin-bottom: 1rem;
}

pre {
  display: block;
  overflow: scroll;
  padding: 0.75rem 1rem;
}

code {
  font-size: $font-size-small;
  font-family: $font-family-code;
  margin-bottom: 1rem;
}
