//  VARS

// Text
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-heading: -apple-system-headline, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Helvetica, Arial, sans-serif;
$font-family-subheading: -apple-system-subheadline, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-family-small-subheading: -apple-system-short-subheadline,
  BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-family-code: monospace;

$color-text: #000000;
$color-text-light: #757575;
$color-text-extra-light: hsl(220, 13%, 91%);
$color-link: #3498db;

$color-border-light: hsl(240, 4%, 95%);

$color-btn-secondary: hsl(204, 10%, 96%);
$color-btn-secondary-hover: hsl(204, 10%, 92%);

$color-bg-light: rgba(239, 240, 241, 0.57);
$color-bg-extra-light: rgba(245, 246, 248, 0.6);

$font-size-base: 16px;
$font-size-body: 14px;
$font-size-large: 1.25rem;
$font-size-small: 0.875rem;
$font-size-extra-small: 0.75rem;

$line-height-paragraph: 24px;
$line-height-body: 1.4;
$line-height-heading: 1.2;

$container-size: 832px;
$container-size-small: 512px;
$half: 384px;

$section-spacer: (
  small: 6rem,
  medium: 7rem,
  large: 8rem,
);

// Transition
$transition: (
  short: all 0.1s ease-in-out,
  medium: all 0.25s ease-in-out,
  large: all 0.3s ease-in-out,
);

// Social
$brands: (
  Twitter: #1da1f2,
  Linkedin: #0077b5,
  Github: #333,
  Instagram: #e1306c,
  Dribbble: #ea4c89,
  Youtube: #ff0000,
);

// Media
$media-phone-large: 'only screen and (min-width: 360px)';
$media-tablet-small: 'only screen and (min-width: 480px)';
$media-tablet: 'only screen and (min-width: 620px)';
$media-container-size: 'only screen and (min-width: $container-size)';
$media-desktop-small: 'only screen and (min-width: 920px)';
$media-desktop: 'only screen and (min-width: 1440px)';
$media-desktop-large: 'only screen and (min-width: 1920px)';
