@import '../00-global/vars';
@import '../00-global//utils';
@import '../01-modules/btn';

section.section-case-studies {
  margin-bottom: 4rem;

  .preview-header {
    margin-bottom: 1rem;
  }
}
.case-study-preview {
  margin-bottom: 3rem;

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  &__title {
    @extend %title;
    font: $font-family-subheading;
    margin: 0 0 1rem;
  }

  &__link {
    @extend %title;
  }

  &__excerpt {
    margin-bottom: 1rem;
  }

  &__tag {
    @extend %small;
    display: block;
    margin: 0 0 1rem;

    &:last-of-type {
      margin-bottom: 1.5rem;
    }
  }

  &__tagline {
    margin-bottom: 0.125rem;
    font: $font-family-small-subheading;
  }

  @media #{$media-tablet} {
    margin-bottom: 0rem;
    margin-bottom: map-get($section-spacer, small);
    @supports (display: grid) and (not (display: -ms-grid)) {
      &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          'main side'
          'tags side'
          'cta side';
      }

      &__title {
        grid-area: main;
        align-self: start;
        font-size: 1.5rem;
        margin: 1rem 0 1.5rem;
      }

      &__tags {
        grid-area: tags;
        align-self: start;
      }

      &__cta {
        grid-area: cta;
        align-self: start;
      }

      &__body {
        grid-area: side;
        grid-column: 2/2;
        margin: 0.825rem 0 0.25rem;
      }
    }
  }
}
