.btn{
    font-size: $font-size-small;
    letter-spacing: .05em;
    line-height: 1;
    font-variant-caps: all-small-caps;
    background: $color-btn-secondary;
    color: $color-text;
    text-decoration: none;
    padding: .5rem 1rem .6rem;
    text-align: center;
    display: block;
    max-width: 10rem;
    transition: map-get($transition, short );

    &:hover, &:focus{
        background: $color-btn-secondary-hover;
    }

    &--primary{
        background: #ffe47a;
        background: linear-gradient(10deg, #1fa2ff, #12d8fa, #a6ffcb);
        color: white;
        font-weight: 600;
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }
}