.footer{
    margin-bottom: 2rem;

    &__credit{
        margin-bottom: 1rem;
        font-size: $font-size-small;
    }

    @media #{$media-tablet}{
        &__credit{
        margin-bottom: 0;
    }
    }
}
.footer__container{
    @extend %split;
    padding:  1.7rem 1rem;
    box-shadow: inset 0 1px 0 0 $color-text;
}