.case-study {
  &__content {
    margin-bottom: 2rem;
  }

  &__img {
    width: 100%;
    height: auto;
    max-width: $container-size;
    margin: 0 auto 1rem;
  }

  &__cta {
    max-width: $container-size-small;
    margin: 2rem auto 4rem;
    text-align: center;
    background: $color-bg-light;
    padding: 1.5rem 1rem 1.75rem;

    & > h3 {
      line-height: 1.5;
    }

    & > .btn {
      margin: 1rem auto 0;
    }
  }
}
