.posts {
  @media #{$media-tablet} {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: -1rem;

    & > .post {
      flex: 50%;
      max-width: 50%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      height: 25.5rem;

      .post__title {
        margin-bottom: auto;
      }
    }
  }
}

.posts .post {
  margin-bottom: 0;
  &__title {
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &__link {
    text-decoration: none;
    color: $color-text;
  }

  &__read-more {
    display: block;
    text-align: right;
  }

  @media #{$media-tablet} {
    padding: 0 1rem 2rem;

    &__title {
      text-decoration: none;
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
    &__excerpt {
      min-height: 9rem;
      height: auto;
      overflow: hidden;
    }
  }

  @media #{$media-desktop-small} {
    &__excerpt {
      min-height: 7.5rem;
    }
  }
}
