<footer class="footer">
    <div class="container footer__container">
        <div class="footer__credit">
            {{ site.name }} &copy; {{ site.time | date: "%Y" }}
        </div>
        <div class="footer__source">
            <a href="https://github.com/adamrasheed/adamrasheed" class="small">Source Code</a>
        </div>
        <div class="social footer__social">
            {% for social in site.data.social %}
                <li class="social__item">
                    <a href="{{ social.link }}" class="social__link" target="_blank" rel="noopener">
                        <i class="social__icon social__icon--{{ social.name }} {{ social.icon }}"></i>
                    </a>
                </li>
            {% endfor %}
        </div>
    </div>
</footer>

{% asset main.js %}