<header class="header">
    <div class="container header__container">

        <a href="/" class="header__logo logo" id="logo">
            <h1 class="logo__title">{{ site.name }}</h1>
            <span class="logo__desc">{{ site.description }}</span>
        </a>

        <nav class="site-menu">
                <li class="site-menu__item">
                    <a href="/about.html" class="site-menu__link{% if page.url == '/{{ site.pages[0].title | slugify }}.html' %} active{% endif %}">about</a>
                </li>
                <li class="site-menu__item">
                    <a 
                        href="/case-studies.html"
                        class="site-menu__link{% if page.url == "/{{ site.pages[2].title | slugify }}.html" %} active{% endif %}"
                    >Case Studies</a>
                </li>
                <li class="site-menu__item">
                    <a href="/blog.html" class="site-menu__link">Blog</a>
                </li>

                {% if page.url == "/{{ site.pages[0].title | slugify }}.html" %}
                <li>THIS IS IT</li>
                {% endif %}
        </nav>
    </div>
</header>