body{
    text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5 {
    font-weight: 800;
}

.mega{
    font-size: 3rem;
    line-height: 3.25rem;

    @media #{$media-desktop-small}{
        font-size: 4rem;
        line-height: 4.5rem;
    }
}

h2{
    font-size: 1.5rem;
    line-height: 2rem;
}


p {
    font-size: $font-size-body;
    line-height: $line-height-paragraph;
}

p > a {
    color: $color-link;
}

strong{
    font-weight: bold;
}

.paragraph{
    font-size: $font-size-body;
    line-height: $line-height-paragraph;
}

.case-study, .post {
    h2 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom: .25rem;
    }

    h3 {
        font-size: 1.125rem;
        line-height: 1.25rem;
        margin-bottom: .25rem;
    }
    p + h2,
    p +h3,
    p + h4,
    ul + h2,
    ul + h3,
    ul + h4,
    code + h2,
    code + h3,
    code + h4 {
        margin-top: 1.625rem;
    }

    p {
        margin-bottom: 1rem;
    }

    h1 + ul,
    h2 + ul,
    h3 + ul,
    h1 + code,
    h2 + code,
    h3 + code,
    h4+ code,
    h1 + .highlighter-rouge,
    h2 + .highlighter-rouge,
    h3 + .highlighter-rouge,
    h4 + .highlighter-rouge {
        margin-top: 1rem;
    }

    .highlighter-rouge + h1,
    .highlighter-rouge + h2,
    .highlighter-rouge + h3,
    .highlighter-rouge + h4 {
        margin-top: 1.5rem;
    }

    ul {
        padding-left: 0.5rem;
    }

    p + ul {
        margin-bottom: 1.5rem;
    }

    ul > li{
        margin-bottom: 1rem;
        line-height: 1;
        font-size: $font-size-small;
        &:before{
            content: '—';
            margin-right: 0.75rem;
        }
    }


    hr {
        display: block;
        max-width: 4rem;
        height: 1px;
        background: $color-text;
        margin: 2rem auto;
    }

    p + hr {
        margin: 2rem auto 2rem;
    }
}

.highlighter-rouge {
    display: block;
    padding: .75rem 1rem;
    overflow: scroll;
    background: $color-bg-extra-light;
    margin-bottom: 1rem;
}

code {
    font-size: $font-size-small;
    font-family: $font-family-code;
    margin-bottom: 1rem;
}