body{
    text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5 {
    font-weight: 800;
}

h2{
    font-size: 1.5rem;
    line-height: 2rem;
}


p {
    font-size: $font-size-body;
    line-height: $line-height-paragraph;
}

p > a {
    color: $color-link;
}

.paragraph{
    font-size: $font-size-body;
    line-height: $line-height-paragraph;
}