.container{
    max-width: $container-size;
    margin: 0 auto;
    padding: 0 1rem;

    &--no-pad{
        padding: 0;
    }

    &--small{
        max-width: $container-size-small;
    }
}

%title{
    color: $color-text;
    text-decoration: none;
}

%split {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 0 1rem;

    @media #{$media-tablet}{
        justify-content: space-between;
        flex-flow: row nowrap;
        align-items: center;
    }
}

%small {
    font-size: $font-size-small;
    line-height: 1rem;
    font-variant-caps: all-small-caps;
    font-weight: 400;
    letter-spacing: .05em;
}

.small{
    font-size: $font-size-small;
    line-height: 20.16px;

    & > p{
        margin-bottom: 7px;
    }
}

.case-study, .post {
    figure{
        max-width: 100%;
        height: auto;
        margin-bottom: 1.5rem;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 0;
        }
    }

    figcaption{
        font-size: $font-size-extra-small;
        line-height: 1;
        font-style: italic;
        text-align: center;
    }

}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}