//  VARS

// Text
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-heading: -apple-system-headline;
$font-family-code: monospace;

$color-text: #000000;
$color-text-light: hsla(0, 100%, 0%, 0.32);
$color-link: #3498db;
$color-btn-secondary: #EAEAEA;
$color-bg-light: rgba(239, 240, 241, 0.57);
$color-bg-extra-light: rgba(245, 246, 248, 0.6);

$font-size-base: 16px;
$font-size-body: 14px;
$font-size-large: 1.25rem;
$font-size-small: .875rem;
$font-size-extra-small: .75rem;

$line-height-paragraph: 24px;
$line-height-body: 1.4;
$line-height-heading: 1.2;

$container-size: 832px;
$container-size-small: 512px;
$half: 384px;

// Transition
$transition: (
    short: all .15s ease-in-out,
    med: all .25s ease-in-out,
    long: all .3s ease-in-out
);

// Social
$brands: (
    Twitter: #1da1f2,
    Linkedin: #0077b5,
    Github: #333,
    Instagram: #c13584,
    Dribbble: #ea4c89,
    Youtube: #ff0000
);

// Media
$media-phone-large:   'only screen and (min-width: 360px)';
$media-tablet-small:  'only screen and (min-width: 480px)';
$media-tablet:        'only screen and (min-width: 620px)';
$media-desktop-small: 'only screen and (min-width: 920px)';
$media-desktop:       'only screen and (min-width: 1440px)';
$media-desktop-large: 'only screen and (min-width: 1920px)';