<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include header.html %}
    <main class="case-study">
        <article class="case-study__content">
            <h1 class="page-title">{{ page.title }}</h1>
            <img
                data-sizes="auto"
                data-src="{{page.image | remove: ".png"}}_w_609.png"
                data-srcset="
                    {{page.image | remove: ".png"}}_w_440.png 440w,
                    {{page.image | remove: ".png"}}_w_609.png 609w,
                    {{page.image | remove: ".png"}}_w_880.png 880w,
                    {{page.image | remove: ".png"}}_w_986.png 986w,
                    {{page.image | remove: ".png"}}_w_1480.png 1480w"
                alt="{{page.title}}"
                class="lazyload featured-img case-study__img"
            >
            <div class="container container--small">
                 {{ content }}
            </div>
            {% include modules/case-study-cta.html %}

        </article>
    </main>
    {% include footer.html %}
</body>