<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include header.html %}
    <main class="case-study">
        <div class="breadcrumbs breadcrumbs--outer">
            <a href="/" class="breadcrumb">Home</a>
            <a href="/case-studies" class="breadcrumb">Case Studies</a>
            <span class="breadcrumb">{{page.title}}</span>
        </div>
        <article class="case-study__content">
            <h1 class="page-title">{{ page.title }}</h1>
            <img
                sizes="100%"
                src="{{page.image}}"
                srcset="
                    {{page.image | remove: ".png"}}_w_440.png 440w,
                    {{page.image | remove: ".png"}}_w_609.png 609w,
                    {{page.image | remove: ".png"}}_w_880.png 880w,
                    {{page.image | remove: ".png"}}_w_986.png 986w,
                    {{page.image | remove: ".png"}}_w_1449.png 1449w,
                    {{page.image | remove: ".png"}}_w_1480.png 1480w"
                alt="{{page.title}}"
                class="featured-img"
            >
            <div class="container container--small">
                 {{ content }}
            </div>
            {% include modules/case-study-cta.html %}
        </article>
    </main>
    {% include footer.html %}
</body>