<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    <main>
        <div class="breadcrumbs breadcrumbs--outer">
            <a href="/" class="breadcrumb">Home</a>
            <span class="breadcrumb">{{page.title}}</span>
        </div>
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="container container--no-pad">
            <article class="post post--freelance">
                {{ content }}
            </article>
        </div>
    </main>
    {% include footer.html %}
</body>