<section class="section contact">
    <div class="container contact__container">
        <h2 class="contact__heading">Let's Talk</h2>
        {% assign social = site.data.social %}
        <div class="small contact__body">
            <p>You can best reach me through
                <a class="contanct-link" href="mailto:{{ site.email }}" target="_blank" rel="noopener">email</a>.</p>
            <p>Alternatively, DM on
                <a class="contanct-link contact-link--twitter" href="{{ social[0].link }}" target="_blank"
                    rel="noopener">twitter</a>, check out my design work on
                <a class="contanct-link contact-link--dribbble" href="{{ social[4].link }}"
                    target="_blank" rel="noopener">Dribbble</a>, peep my code on my
                <a class="contanct-link contact-link--github" href="{{ social[3].link }}"
                    target="_blank" rel="noopener">Github profile</a>, or see what I’m eating on my
                <a class="contanct-link contact-link--instagram" href="{{ social[1].link }}"
                    target="_blank" rel="noopener">Instagram</a>.</p>
            <p>Oh also, you can read/download my
                <a class="contanct-link" href="{{ site.resume }}" target="_blank" rel="noopener">Resumé</a> here.</p>
        </div>
    </div>
</section>