<div class="hero">
    <div class="container">
        <h1 class="hero__title">
            {{site.tagline}}
        </h1>
        <div class="hero__body">
            <p>
                I specialize in Wordpress and Shopify sites, as well as React apps.
                
            </p>
            <p>
                Currently looking for an in-house role at a product team
                or agency.
            </p>
            <p>
                Wanna see if we’d be a good fit?
                <br/> Learn more
                <a href="">about me.</a>
            </p>
        </div>
    </div>
</div>